<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-dark border border-light "
 style="height:100%">
    <!--  <img src="assets/b3.png"  > -->
   <div >
      
       <div class="list-group list-group-flush bg-dark">
         <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple bg-dark text-light"
           aria-current="true"
         >
         <i class="fa fa-tachometer text-white fa-1x p-2" aria-hidden="true"></i><span>Main dashboard</span>
         </a>
         <!-- routerLink="/Home" 
        routerLinkActive="active">Home-->
         <a href="#" class="list-group-item list-group-item-action py-2 ripple bg-dark text-light" 
         routerLink="Home" routerLinkActive="active">
           <i class="fa fa-lightbulb-o text-white fa-1x p-2" aria-hidden="true"></i><span>Home</span>
         </a>
         <a href="#" class="list-group-item list-group-item-action py-2 ripple bg-dark text-light"
         routerLink="Category"   routerLinkActive="active"
           ><span>Category</span></a>
           
         <a href="#" class="list-group-item list-group-item-action py-2 ripple bg-dark text-light"
         routerLink="Products"   routerLinkActive="active"
           ><span>Products</span></a
         >
        
         <a href="#" class="list-group-item list-group-item-action py-2 ripple bg-dark text-light"
         routerLink="Login"   routerLinkActive="active"
           ><span>Login</span></a
         >
         <a href="#" class="list-group-item list-group-item-action py-2 ripple bg-dark text-light"
         routerLink="Register"   routerLinkActive="active"
           ><span>Register</span></a
         >
         <a href="#" class="list-group-item list-group-item-action py-2 ripple bg-dark text-light">
           <i class="fa fa-bar-chart text-white fa-1x p-2" aria-hidden="true"></i><span>SEO</span>
         </a>
         <a href="#" class="list-group-item list-group-item-action py-2 ripple bg-dark text-light"
           ><i class="fa fa-pie-chart text-white  fa-1x p-2" aria-hidden="true"></i> <span>Orders</span></a
         >
         <a href="#" class="list-group-item list-group-item-action py-2 ripple bg-dark text-light"
           ><i class="fa fa-globe text-white fa-1x p-2" aria-hidden="true"></i><span>International</span></a
         >
         
       </div>
       
     </div>
    <!--  <img src="assets/b3.png"  > -->
   </nav>
   
   <!-- Sidebar -->